// Bootstrap Button Overwrite
button {
  &:focus,
  &:active {
    outline: none;
  }
}

.btn {
  border: none;
}

.btn,
.form-control {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid $grey;
  font-family: $roboto;
  cursor: pointer;
  transition: 0.4s all;
  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
    color: inherit;
  }
  &-orange {
    color: #fff;
    background-color: $orange;
    border-color: $orange;
    &:hover {
      color: $orange;
      background-color: transparent;
    }
  }
  &-black {
    color: #fff;
    background-color: #000;
    border-color: #000;
    &:hover {
      color: #fff;
      background-color: #000;
      border-color: #000;
    }
  }
  &-small {
    font-size: 12px;
    padding: 6px 14px;
  }
  &-view-all,
  &-custom {
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 26px;
  }
  &.btn-custom-large,
  &.btn-custom-small {
    padding: 12px 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: $raleway;
    text-transform: uppercase;
    border: 2px solid $primaryColor;
    background-color: $primaryColor;
    letter-spacing: 0.03em;
    border-radius: 30px;
    &:hover {
      color: $primaryColor;
      background-color: transparent;
    }
  }
  &.btn-custom-small {
    padding: 6px 20px;
    font-size: 12px;
  }
  &.btn-red {
    background-color: $dred;
    color: #fff;
    border-color: $dred;
    &:hover {
      background-color: transparent;
      border-color: $dred;
      color: $dred;
    }
  }
}

.dark-btn {
  display: block;
  width: 195px;
  height: 45px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid $dred;
  .show-btn,
  .hide-btn {
    position: absolute;
    top: 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.35px;
  }
  .show-btn {
    left: 0px;
    width: 195px;
    color: $dred;
  }
  .hide-btn {
    left: 195px;
    width: 195px;
    background-color: $dred;
    color: #fff;
  }
  &:hover {
    .show-btn {
      left: -195px;
    }
    .hide-btn {
      left: 0;
    }
  }
}

@include custom_max(1199px) {
}

@include custom_max(991px) {
  .btn,
  .form-control {
    &-small {
      font-size: 11px;
    }
    &-view-all,
    &-custom {
      font-size: 12px;
    }
    &.btn-custom-large,
    &.btn-custom-small {
      font-size: 12px;
    }
  }
}

@include custom_max(767px) {
  .btn,
  .form-control {
    &.btn-custom-large,
    &.btn-custom-small {
      padding: 8px 20px;
      font-size: 13px;
    }
  }
}
