$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;
//Fonts
$roboto: "Roboto",
sans-serif;
$gabri: "Gabriela",
serif;
$raleway: "Raleway",
sans-serif;
$mont: "Montserrat",
sans-serif;
// Colors
$primaryColor: #1f2128;
$blue: #27395d;
$lblue: #f4fcfd;
$yellow: #ffd21f;
$red: #c20000;
$orange: #ff4500;
$purple: #c400ff;
$black: #1c1c1c;
$green: #82b440;
$t-color: #8a8a8a;
$dark-color: #525252;
$lgrey: #f8f8f8;
$grey: #dedede;
$dred: #b3dd55;